In [ ]:
import pandas as pd 
from sklearn.model_selection import train_test_split

In [ ]:
data=pd.read_json('top10cat_balanced.json',lines=True)
data.head()

  product_brand product_category  ...  user_id review_text_length
0      Tom Ford         Lipstick  ...    46844                419
1   Urban Decay         Lipstick  ...    31992                520
2       theBalm         Lipstick  ...    42092                491
3        Revlon         Lipstick  ...    41682               1259
4           NYX         Lipstick  ...    31930                263

[5 rows x 15 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   product_brand         14978 non-null  object
 1   product_category      15000 non-null  object
 2   product_id            15000 non-null  int64
 3   product_name          14988 non-null  object
 4   product_type          14988 non-null  object
 5   review_date           15000 non-null  int64
 6   review_id             15000 non-null  int64
 7   review_packaging      15000 non-null  float64
 8   review_rating         15000 non-null  int64
 9   review_rebuy          15000 non-null  object
 10  review_text           15000 non-null  object
 11  review_valueformoney  15000 non-null  object
 12  user_age              15000 non-null  int64
 13  user_id               15000 non-null  int64
 14  review_text_length    15000 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 1.7+ MB

In [ ]:
data.review_rating.value_counts()

4    5400
5    5100
3    2700
2    1350
1     450
Name: review_rating, dtype: int64

In [ ]:
x_train,x_test, y_train, y_test = train_test_split(data['review_text'],data['review_rating'], test_size=0.3, random_state=1, stratify=data['review_rating'])

In [ ]:
dataset_baru = pd.DataFrame({'review_text': x_test,
                             'review_rating': y_test})

In [ ]:
data1 = dataset_baru[dataset_baru['review_rating'] == 1]
data2 = dataset_baru[dataset_baru['review_rating'] == 2]
data3 = dataset_baru[dataset_baru['review_rating'] == 3]
data4 = dataset_baru[dataset_baru['review_rating'] == 4]
data5 = dataset_baru[dataset_baru['review_rating'] == 5]

In [ ]:
Combined = [data5,data4,data3,data2,data1]
Together = pd.concat(Combined)

In [ ]:
Together.to_csv('review_rating.csv',index=False)

In [ ]:
dataset_baru1 = pd.DataFrame({'review_text': x_train,
                             'review_rating': y_train})

In [ ]:
data1_1 = dataset_baru1[dataset_baru1['review_rating'] == 1]
data1_2 = dataset_baru1[dataset_baru1['review_rating'] == 2]
data1_3 = dataset_baru1[dataset_baru1['review_rating'] == 3]
data1_4 = dataset_baru1[dataset_baru1['review_rating'] == 4]
data1_5 = dataset_baru1[dataset_baru1['review_rating'] == 5]

In [ ]:
Combined1=[data1_5,data1_4,data1_3,data1_2,data1_1]
Together1=pd.concat(Combined1)

In [ ]:
Together1.to_csv('review_rating_train.csv',index=False)

In [ ]:
#Combined2=[data1_5,data5,data1_4,data4,data1_3,data3,data1_2,data2,data1_1,data1]
#Together2=pd.concat(Combined2)
#Together2.to_csv('review_rating_all.csv',index=False)